<!doctype html>
<html lang="pl">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='w3.css') }}">
    <head>
            <script>
                    function startTime() {
                      var today = new Date();
                      var h = today.getHours();
                      var m = today.getMinutes();
                      var s = today.getSeconds();
                      m = checkTime(m);
                      s = checkTime(s);
                      document.getElementById('clock').innerHTML =
                      h + ":" + m + ":" + s;
                      var t = setTimeout(startTime, 500);
                    }
                    function checkTime(i) {
                      if (i < 10) {i = "0" + i};  // add zero in front of numbers < 10
                      return i;
                    }
                    </script>
      {% if title %}
      <title>{{ title }} Mirror</title>
      {% else %}
      <title>Some title</title>
      {% endif %}
    </head>
    <body onload="startTime()">
        <div class="w3-container w3-black">
            <div class="w3-container">Header</div>
            <div class="w3-cell-row">
                <div class="w3-container w3-cell w3-border" >lewa<br> tutaj beda newsy<br>https://www.tvn24.pl/najnowsze.xml</div>
                <div class="w3-container w3-cell w3-border">Srodek<br>tu bedzie zegar i ewentualne info
                <div class="w3-center w3-xlarge">Dziś jest XXXX </div>
                <div id="clock" class="w3-center w3-jumbo"></div>
                </div>
                <div class="w3-container w3-cell w3-border">
                {% block weather %}{% endblock %}
                </div>
            </div>
        </div>
    </body>
</html>