<!doctype html>
<html lang="pl">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='w3.css') }}">
    <head>
            <script>
                    function startTime() {
                      var today = new Date();
                      var h = today.getHours();
                      var m = today.getMinutes();
                      var s = today.getSeconds();
                      var y = today.getFullYear();
                      var month = today.getMonth();
                      var monthArr = ["Stycznia", "Lutego","Marca", "Kwietnia", "Maja", "Czerwca", "Lipca", "Sierpnia", "Września", "Października", "Listopada","Grudnia"];
                      month = monthArr[month];
                      var day = today.getDate();
                      var dayw = today.getDay()-1;
                      var dayArr = ["Poniedziałek", "Wtorek", "Środa", "Czwartek", "Piątek", "Sobota", "Niedziela"];
                      dayw = dayArr[dayw]
                      m = checkTime(m);
                      s = checkTime(s);
                      document.getElementById('clock').innerHTML =
                      h + ":" + m;
                      document.getElementById('clocksec').innerHTML = ":" + s;
                      document.getElementById("date").innerHTML = dayw + ", " + day + " " + month + " " + y;
                      var t = setTimeout(startTime, 500);
                    }
                    function checkTime(i) {
                      if (i < 10) {i = "0" + i};  // add zero in front of numbers < 10
                      return i;
                    }
                    </script>
      {% if title %}
      <title>{{ title }} Mirror</title>
      {% else %}
      <title>Some title</title>
      {% endif %}
    </head>
    <body onload="startTime()">
        <div class="w3-container w3-black">
            <div class="w3-container">Header</div>
            <div class="w3-cell-row">
                <div class="w3-container w3-cell w3-border" style="width:31%">{% block rss_news %}{% endblock %}</div>
                <div class="w3-container w3-cell w3-border">
                    <!-- <div id="date" class="w3-left w3-xlarge w3-border"></div>
                    <div id="clock" class="w3-left w3-jumbo w3-border"></div><div id="clocksec"></div> -->

                        <!-- <div id="date" class="w3-left w3-large w3-container w3-padding-small w3-border"></div> -->
                      
                            <div class="w3-container w3-padding-small">
                                <span id="date" class="w3-large w3-padding-small"></span><br>
                                    <span id="clock" class="w3-jumbo"></span><span id="clocksec" class="w3-xlarge"></span>
        
                                </div>
                        </div>

                


                <div class="w3-container w3-cell w3-border" style="width:31%">
                {% block weather %}{% endblock %}
                </div>
            </div>
        </div>
    </body>
</html>